/* -- Colores de las variables -- */
.varKeyword1 { color: #C586C0; } 
.varKeyword2 { color: #C85046; }
.varName { color: #ac78dc; }    
.varValue { color: #ecc207; }   
.stringValue { color: #ce9178; } 

/* -- Contenedor principal -- */
.contactoContainer
{
    width: 100%;
    padding: 20px;
}

.contactoCardContainer
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0 15px 0;
}

.contactoCard
{
    background-color: #1e1e1e; 
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #333;
}