/* -- Colores de las variables -- */
.varKeyword { color: #569cd6; } 
.varName { color: #9cdcfe; }    
.varValue { color: #ecc207; }   
.stringValue { color: #ce9178; } 

/* -- Contenedor principal -- */
.proyectosContainer
{
    width: 100%;
    padding: 20px;
}

.proyectosCardContainer
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0 15px 0;
}

.proyectosCard
{
    background-color: #1e1e1e; 
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #333;
}